# Introduction to Scikit-Learn (sklearn)
sklearn is python machine learning library

# what we are going to learn =[
    "0. An end-to-end Scikit-Learn workflow",
    "1. Getting the data ready",
    "2. Choose the right estimator/algorithm for our problems",
    "3. Fit the model/algorithm and use it to make predictions on our data",
    "4. Evaluating a model",
    "5. Improve a model",
    "6. Save and load a trained model",
    "7. Putting it all together!"]

# 0. An end-to-end sklearn workflow

In [1]:
import sklearn
sklearn.show_versions()   #check version

System:
    python: 3.9.6 (tags/v3.9.6:db3ff76, Jun 28 2021, 15:26:21) [MSC v.1929 64 bit (AMD64)]
executable: c:\program files\python39\python.exe
   machine: Windows-10-10.0.19043-SP0

Python dependencies:
          pip: 21.2.4
   setuptools: 56.0.0
      sklearn: 0.24.2
        numpy: 1.19.5
        scipy: 1.7.1
       Cython: None
       pandas: 1.3.3
   matplotlib: 3.4.3
       joblib: 1.0.1
threadpoolctl: 2.2.0

Built with OpenMP: True

In [2]:
# Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# 1. get data ready 
heart_disease =pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
# Create X (features matrix)
x=heart_disease.drop("target", axis=1)

# Create y (lables)
y=heart_disease["target"]

In [5]:
# import warnings                     #for ignoer warnings
# warnings.filterwarnings("default")

In [6]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()

#we'll keep the default hyperparameters
clf.get_params()      #clf=classifier

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [7]:
# 3.Fit the model to the training data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test =train_test_split(x,y, test_size=0.2)

In [8]:
clf.fit(x_train, y_train);

In [9]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
229,64,1,2,125,309,0,1,131,1,1.8,1,0,3
141,43,1,0,115,303,0,1,181,0,1.2,1,0,2
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2
204,62,0,0,160,164,0,0,145,0,6.2,0,3,3
149,42,1,2,130,180,0,1,150,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,57,1,0,110,335,0,1,143,1,3.0,1,1,3
195,59,1,0,170,326,0,0,140,1,3.4,0,0,3
282,59,1,2,126,218,1,1,134,0,2.2,1,1,1
266,55,0,0,180,327,0,2,117,1,3.4,1,0,2
118,46,0,1,105,204,0,1,172,0,0.0,2,0,2

In [10]:
y_preds =clf.predict(x_test)
y_preds

array([1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1], dtype=int64)

In [11]:
y_test

171    0
260    0
215    0
84     1
264    0
      ..
78     1
45     1
301    0
199    0
25     1
Name: target, Length: 61, dtype: int64

In [12]:
# 4. Evaluate the model
clf.score(x_train, y_train)

1.0

In [13]:
clf.score(x_test, y_test)

0.8688524590163934

In [14]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.89      0.74      0.81        23
           1       0.86      0.95      0.90        38

    accuracy                           0.87        61
   macro avg       0.88      0.84      0.85        61
weighted avg       0.87      0.87      0.87        61

In [15]:
confusion_matrix(y_test, y_preds)

array([[17,  6],
       [ 2, 36]], dtype=int64)

In [16]:
accuracy_score(y_test, y_preds)

0.8688524590163934

In [17]:
# 5. Improve a model
# try different amount of n_esimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf=RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test)*100:.2f}%")
    print(" ")

Trying model with 10 estimators...
Model accuracy on test set: 83.61%

Trying model with 20 estimators...
Model accuracy on test set: 85.25%

Trying model with 30 estimators...
Model accuracy on test set: 86.89%

Trying model with 40 estimators...
Model accuracy on test set: 86.89%

Trying model with 50 estimators...
Model accuracy on test set: 86.89%

Trying model with 60 estimators...
Model accuracy on test set: 86.89%

Trying model with 70 estimators...
Model accuracy on test set: 86.89%

Trying model with 80 estimators...
Model accuracy on test set: 88.52%

Trying model with 90 estimators...
Model accuracy on test set: 86.89%

In [18]:
# 6. Save the model and load it
import pickle

pickle.dump(clf, open("random_forst_model_1.pk1", "wb"))   #it will save a file

In [19]:
loaded_model=pickle.load(open("random_forst_model_1.pk1", "rb"))   #rb=read binary
loaded_model.score(x_test, y_test)

0.8688524590163934